@import "tailwindcss";

:root {
  --nav-color: linear-gradient(to right, #994700, #3a1b00);
  --foreground-color: #ffffff;
  --background-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --nav-color: linear-gradient(to right, #8f4300, #381a00);
        --foreground-color: #000000;
        --background-color: #ffffff;
    }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

body.theme-light {
  --theme-text: #222;
  --theme-bg: #fff;
  --theme-card: #f3f3f3;
  --theme-card-rgb: 243, 243, 243;
  --theme-border: #e0e0e0;
  color: var(--themetext);
  background: var(--themebg);
}

body.theme-dark {
  --theme-text: #fff;
  --theme-bg: #111;
  --theme-card: #1111;
  --theme-card-rgb: 17, 17, 17;
  --theme-border: #3d3937;
  color: var(--themetext);
  background: var(--themebg);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #343434;
  width: 2px;
  border-radius: 9px;
}